@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "cairo",sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
   height: 300vh; 
}

header {
    background-color: rgb(184, 240, 241);
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    background-image:url('https://www.pngkit.com/png/full/433-4336452_blue-header-design-png-header-and-footer-design.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}
.logo {
    width: auto;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;

}
nav a {
    color: rgb(28, 83, 131);
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    padding-right: 20px;

}
nav a:hover{
   color: rgb(92, 21, 21); 
   font-weight: 900;
   
}
.content{
    width:100%;
    height:80vh;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFfaBWwTOPkULkNrSXK4YPASJ5S4L6i3jazg&usqp=CAU');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
section {
    padding: 100px 150px;
}
.content h2{
    color: rgb(39, 39, 119);
    font-size: 30px;
    font-weight:bold;
    text-align: center;
}
.content h2 span{
    color: rgb(218, 146, 52);
}
.content h3{
    color: rgba(7, 136, 59, 0.479);
    font-size:30px;
    font-weight: bold;
    
}
.contact-us {
    display: inline-block;
    color: greenyellow;
    background-color: rgb(211, 179, 38);
    text-decoration:none;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 30px;
    font-weight: 600;
    transition: o,5s ease;

}
.contact-us:hover{
    transform:scale(1,1);
    background-color:rgb(204, 156, 156);
}

.social{
    color:rgb(15, 54, 128);
    font-size: 30px;
    padding-top: 10px;
}
.our-services{
    text-align: center;
    background-color: #7bb8b442;
    border-radius: 5px;
}
 .our-services h2{
    color:rgb(218, 146, 52);
    font-size: 37px;
}
.our-services p {
    font-size:22px;
    color:rgb(70, 81, 158);
    margin-bottom:35px;
}
.services{
    display: flex;
}
.box {
    width:100%;
    background-color:#e6ebb83f;
    padding:20px;
    margin:5px;
    border-radius: 10px;
    border:1px solid #6f9c9a17;
    cursor:pointer;
    transition:all 0,5s ease;
}
.box:hover{
    background-color:#bfe6eb0a;
    border:0,5px;
    box-shadow:0 5px 5px rgb(218, 146, 52);
    transform:scale(1,1);
}
.box h3{
    font-size: 30px;
}
.icon{
    color:rgb(218, 146, 52);
    font-size: 30px;

}
.Portfolio{
    text-align: center;
    border-radius: 5px;
}
.Portfolio h2{
    color: rgb(218, 146, 52);
    font-size: 37px;
}
.Portfolio p {
    font-size: 22px;
    color:rgb(70, 81, 158);
    margin-bottom:35px;
}
.photos{
    display: flex;
}
.photo img{
    width: 100%;
    background-color:#fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #6f9c9a17;
    cursor: pointer;
    transition:all 0,5s ease;
 
}
.photo img:hover{
    background-color:#bfe6eb0a;
    border:0,5px;
    box-shadow:0 5px 5px rgb(218, 146, 52);
    transform:scale(1.10px);
}
.contact-me{
    background-color:#7bb8b41c;
    text-align: center;
    border-radius: 5px;
}
.contact-me h2{
    color: rgb(218, 146, 52);
    font-size: 37px;
}
.contact-me {
    font-size: 22px;
    color: rgb(70, 81, 158);
    margin-bottom:35px;
}
.contact-area{
    width: 60%;
    margin: 20px auto;
    padding: 35px;
    border: 1px solid#f0e7e7;
    border-radius: 10px;

}
.form-input input{
width:60%;
height: 40px;
margin-bottom: 30px;
border-radius: 5px;
border: 1px solid #f0e7e7;

}
.form-input textarea{
    width:60%;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #f0e7e7;
}
.send{
    padding: 10px 25px;
    background-color: rgb(82, 219, 48);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: allo,0,5s ease;
}
.send:hover{
    background-color: gainsboro;
    transform:scale(1,1);
}
.footer {
    border-top: 2px solid rgb(218, 146, 52) ;
    border-radius: 5px;
    padding-top: 35px;
    background-color: rgb(69, 159, 165);
    text-align: center;
    }
.footer p{
    color: #f0e7e7;
    font-size: 23px;

}    
    
